GROQ_API_KEY="Your GROQ API Key Here"

TAVILY_API_KEY="Your TAVILY API Key Here"
GOOGLE_API_KEY="Your google API Key Here"

PINECONE_API_KEY="Your PINECONE API Key Here"
PINECONE_INDEX_NAME=your_project_index_name_for_pinecone